# Outputs
src/**/*.js
src/**/*.js.map

# IDEs
.idea/
jsconfig.json
.vscode/
.history

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

**/*.tgz

!src/add-ns/_ns-files/**/*.js