# Outputs
src/**/*.js
src/**/*.js.map
jasmine-config/**/*.js
jasmine-config/**/*.js.map

# Schematics template files
!src/**/_*/**/*.js

# IDEs
.idea/
jsconfig.json
.history

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

**/*.tgz
